.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  background-color: #D97A0E;
  width: 80%;
  max-width: 1100px;
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 20px;
  margin: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 48px;
}

header p {
  font-size: 18px;
  margin-top: 3px;
  font-weight: bold;
}


.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.file-upload {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  background-color: #fff;
}

.file-upload-real {
  display: none;
}

.file-upload-label {
  background-color: #e0dfdf;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.file-upload-label:hover {
  background-color: #777777;
}

.file-upload-name {
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  
}

.email-preview, .template-editor {
  background-color: #D97A0E;
  color: white;
  border-radius: 20px;
  width: 80%;
  max-width: 1100px;
  padding: 15px 30px;
  margin: 20px 0;
}

.email-preview h3, .template-editor h3 {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 15px;
  margin-top: 0px;
  border: 2px solid #D97A0E;
}

.email-preview-text {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid #c9c7c7;
  height: 100px;
  overflow-y: auto;
  white-space: pre-wrap;
}


.template-editor-text {
  width: 100%;
  height: 144px;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #c9c7c7;
  background-color: white;
  color: black;
  box-sizing: border-box;
  resize: none;
  line-height: 1.5;
  overflow-y: auto;
  white-space: pre-wrap;
}

.generation-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;
  margin-top: 20px;
}

button {
  background-color: #D97A0E;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  width: 30%;
  font-size: 16px;
}

button:hover {
  background-color: #c36800;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: flex-start; 
  width: 80%; 
  max-width: 1100px; 
  margin: 0 auto; 
  padding: 20px;
}

.editor-and-preview {
  flex: 2; 
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.recipients-list {
  flex: 1; 
  max-width: 200px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.recipients-list h3 {
  text-align: center;
}

.recipients-list li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  word-break: break-word;
}

.recipients-list li:hover {
  background-color: #f0f0f0;
}

.recipients-list li.selected {
  background: linear-gradient(to right,#D97A0E, #FF7A00);
  color: white;
  font-weight: bold;
}

.recipients-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.templates-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.templates-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.editable-name-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.editable-name-input {
  width: 200px;
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.dropdown-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.add-template-button {
  background-color: #D97A0E;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 200px
}
